<!doctype html>

<html>
	<head>
		<title> Weather Station </title>
	</head>

	<body>
		<h1 style="text-align: center;">How's the weather?</h1>

		<h2 style="text-align: center;">Temperature</h2>
			<p style="text-align: center;"><strong>{{ cTemp }}</strong> degrees Celsius</p>
			<p style="text-align: center;"><strong>{{ fTemp }}</strong> degrees Fahrenheit</p>

		<h2 style="text-align: center;">Humidity</h2>
			<p style="text-align: center;"><strong>{{ humidity }}%</strong> relative humidity</p>
		<h2 style="text-align: center;">Air Pressure</h2>
			<p style="text-align: center;"><strong>{{ inpressure }} </strong> inHg </p>
			<p style="text-align: center;"><strong>{{ pressure }} </strong> mBar </p>
			<div style="text-align: center;"><img src="https://s.w-x.co/staticmaps/wu/wxtype/county_loc/rno/animate.png"></div>
		</body>
</html>
